
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2C3E50;
  padding: 10px 0;
  z-index: 10;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}

.navbar li {
  margin: 0 20px; 
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}
